{% extends "index.twig" %}

{% block content %}
  <p>
    <strong>Dear user,</strong>
  </p>
  <br />

  Your job {{ job_id }} ends with an error. You can contact support at cstb-support@ibcp.fr.  

  <em>This e-mail is automatically sent to you. Please do not reply to this e-mail address.</em>
{% endblock %}